/* CSS */

#showChart1button,#showChart2button,#showChart3button {
font-size: 1.0rem;
  font-weight: 600;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
  border-bottom: 5px solid #4f4d4d;
}
#showChart1button:hover,#showChart2button:hover,#showChart3button:hover{
  margin-top: 3px;
  color: #000;
  border-bottom: 2px solid #1f1e1e;
}
.twitter-button {
    background-color: #1DA1F2;
    color: lightblue;
    border-bottom: 5px solid #0096cc;

  }
  .twitter-button:hover{
    margin-top: 3px;
  color: #000;
  background-color: #0096cc;
  border-bottom: 2px solid #ccc100;
}
  
  .facebook-button {
    background-color: #3b5998;
    color: lightcoral;
    border-bottom: 5px solid #cc0052;
  }
  .facebook-button:hover{
    margin-top: 3px;
  color: #000;
  background-color: #cc0052;
  border-bottom: 2px solid #ccc100;
  }
  
  .linkedin-button {
    background-color: #0077B5;
    color: wheat;
    border-bottom: 5px solid #ccc100;
  }
  
  .linkedin-button:hover{
    margin-top: 3px;
    color: #000;
    background-color: #ccc100;
    border-bottom: 2px solid #ccc100;
  }
  .pinterest-button {
    background-color: #BD081C;
    color: rgb(242, 236, 236);
    border-bottom: 5px solid #4b00cc;
  }
  .pinterest-button:hover{
    margin-top: 3px;
    color: #000;
    background-color: #cc0a00;
    border-bottom: 2px solid #ccc100;
  }
  